.dashboard-view {
  width: 95%;
  height: 90%;
  margin-top: 2%;
}

.dash-card {
  width: 100%;
  height: 16%;
}

.dash-card-item {
  width: calc(32% + 3px);
  height: 100%;
  border-radius: 16px;
  background: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  // box-shadow: 2px 2px 14px rgba(241, 241, 241, 0.122);
  border: 1px solid #18a05754;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.4);
}

@mixin mp-left {
  padding-left: 6px;
}

.item-used {
  @include mp-left;
  border-left: 6px solid #18a057;
}

.item-coming {
  @include mp-left;
  border-left: 6px solid #f0a020;
}

.item-over {
  @include mp-left;
  border-left: 6px solid #d03050;
}

.item-doc {
  @include mp-left;
  border-left: 6px solid #2080f0;
}

.item-number {
  margin-right: 22px;
  color: #626262;
}

.dash-body {
  background: #fff;
  width: 100%;
  height: calc(82% - 2px);
  margin-top: 18px;
  border-radius: 16px;
  padding: 6px;
  // box-shadow: 2px 2px 14px rgba(241, 241, 241, 0.122);
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.4);
}

.n-progress.n-progress--multiple-circle{
  width: 100px;
}
.n-progress.n-progress--circle, .n-progress.n-progress--dashboard{
  width: 100px;
}
.n-divider.n-divider--vertical {
  height: 50%
}
