.login-box {
  width: 96%;
  height: calc(90% - 2px);
  margin-top: 2%;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.4);

  .n-input {
    width: 60% !important;
    margin-bottom: 12px !important;
  }

  .n-button {
    width: 60% !important;
  }

  .n-divider {
    width: 60% !important;
  }
}

.login-form {
  width: 64%;
  height: 100%;
  position: relative;
}

.login-illustration {
  width: 36%;
  height: 100%;
  background: #f7f8fb;
  border-radius: 0 16px 16px 0;
}

.copyright {
  position: absolute;
  bottom: 2px;
  color: #949798;
}

:deep(.n-drawer.n-drawer--bottom-placement){
  border-top-left-radius: 16px!important;
  border-top-right-radius: 16px!important;
}
.face-img {
  height: 97%;
  border-radius: 16px;
}
.loading-img {
  height: 50%;
  margin-top: 25%;
}
:deep(.n-drawer-body){
  display: flex;
  justify-content: center;
    align-items: center;
}

.face-modal {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: conic-gradient(from var(--angle), hsl(162, 100%, 58%), hsl(270, 73%, 58%), hsl(206, 100%, 58%), hsl(270, 73%, 58%), hsl(162, 100%, 58%));
  animation: rotate 1s infinite linear;
  box-shadow: 0 0 24px 7px #3451a876;
  display: flex;
  align-items: center;
  justify-content: center;
  // background:
  //   radial-gradient(hsl(9, randomNum(100, 25, 90%), randomNum(100, 75%, 10%)), #052ea8);

  // &:before,
  // &:after {
  //   position: absolute;
  //   border-radius: 50%;
  //   top: 50%;
  //   left: 50%;
  //   margin: -300px;
  //   width: 600px;
  //   height: 600px;
  //   opacity: .5;
  //   mix-blend-mode: overlay;
  //   animation: rotate randomNum(100, 25, .1s) ease-in-out infinite;
  //   content: '';
  // }

  // &:before {
  //   background: randomConicGradient();
  // }

  // &:after {
  //   background: randomConicGradient();
  //   animation-duration: randomNum(100, 25, .1s);
  //   animation-direction: reverse;
  // }
}

// @function randomNum($max, $min: 0, $u: 1) {
//   @return ($min + random($max)) * $u;
// }

// @function randomConicGradient() {
//   $n: 16 + random(16);
//   $list: (
//   );

// @for $i from 0 to $n {
//   $list: $list, rgba(hsl(100, randomNum(250, 5,50%), randomNum(1, 1, 50%)), randomNum(100, 0, 0.01));
// }

// @return conic-gradient($list, nth($list, 1));
// }

// @keyframes rotate {
//   to {
//     transform: rotate(1turn);
//   }
// }
