.login-form {
  width: 46%;
  height: 100%;

  .n-input {
    width: 60% !important;
    margin-bottom: 12px !important;
  }

  .n-button {
    width: 60% !important;
  }

  .n-divider {
    width: 60% !important;
  }
}

.login-illustration {
  width: 54%;
  height: 100%;
  img {
    width: 80%;
  }
}
