.n-button--large-type {
  height: 46px !important;
}
.n-data-table{
  font-size: 16px !important;
  font-weight: 500;
}
.n-data-table-base-table-header{
  font-size: 18px !important;
}
.n-popover {
  border-radius: 16px !important;
}
